.nav {
  background-color: #140923;
}

.link {
  @apply flex items-center gap-4 px-2.5 text-muted-foreground hover:text-white font-poppins transition-colors;
}

.nav-select {
  @apply text-white;
  background-color: #6146f6;
  padding: 0.5rem;
  width: calc(100% + 25px);
  font-weight: 200;
}

/* Chrome, Safari, Edge, Opera */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type='search']::-moz-search-cancel-button {
  display: none;
}

/* Microsoft Edge */
input[type='search']::-ms-clear {
  display: none;
}

.tab-trigger {
  @apply px-4 py-8 hover:bg-gray-50 transition-colors duration-200;
  @apply flex flex-col items-center gap-3 h-auto w-full cursor-pointer;
  @apply border border-gray-300 text-gray-700 rounded-md max-w-1/6;
}

/*
  ---break---
*/
:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
/*
  ---break---
*/
.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
/*
  ---break---
*/
@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/*
  ---break---
*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
